@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Department of Music</h3>

<address>
    The University of South Alabama<br />
    5751 USA Drive S., Room 1072<br />
    Mobile, AL 36688-0002<br />
    <abbr title="Phone" class="glyphicon-phone">P:</abbr> <a href="tel:2514606136">(251) 460-6136</a><br />
    <a href="mailto:usamusic@southalabama.edu">usamusic@southalabama.edu</a><br />
</address>
