@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron black-text ">
    <div class="text-center"><h1>USA Band-droid Student Information Portal</h1></div>
    <div class="flex">
        <div class="half-wrapper align-left">
            <p>To go to student interest forms click on the button below</p>
            <p><a href="~/Views/Form/Index.cshtml" class="btn btn-primary btn-lg">Student Interest Forms &raquo;</a></p>
        </div>
        <div class="half-wrapper align-right">
            Login Stuff
        </div>
     </div>
</div>