@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron black-text ">
    <div class="text-center"><h1>USA Band-droid Student Information Portal</h1></div>
    <div class="flex">
        <div class="half-wrapper align-left verticalLine-right margin">
            To go to student interest forms click on the button below
            <p>@Html.ActionLink("Student Interest Forms »", "Index", "Form", null, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
        <div class="half-wrapper align-right margin">
            If you are a faculty member, click the button below to Log In
            <p>@Html.ActionLink("Faculty Login »", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
     </div>
</div>