body 
{
     background-image: url("Pictures/newjaglarge.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: top; 
     background-size:cover;
}
div.container.body-content
{    
    background-color:rgba(3, 2, 104, 0.85);
    border-radius: 25px;
    color: white;
    box-sizing: border-box;
}
.red-fill
{
    background-color: rgb(192, 0, 0);
    border-color: rgb(192, 0, 0);
}
.red-text,
a
{
    color: red;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a  
{
    color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus 
{
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
.black-text
{
    color: black;
}
.align-right
{
    float: right;
}
.align-left
{
    float: left;
}
.half-wrapper
{
    width: 50%;
}
.flex
{
    display: flex;
}
.padding
{
    padding-left: 40px;
    padding-right: 40px;
}
.no-padding
{
    padding-left: 0px;
    padding-right: 0px;
}
.verticalLine-right 
{
    border-right: thick solid;
}
.margin
{
    margin-left: 20px
}
.refresh-button 
{
    background-color: white;
    width: 35px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
    font-weight: 900;
}
.error
{
    color: red;
    font-size: 200px;
    font-weight: 900;
}
.error-content
{
    font-size: 25px;
}
.tablefit
{
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse:collapse;
}
div.container.body-contentLong
{    
    background-color:rgba(3, 2, 104, 0.85);
    border-radius: 25px;
    color: white;
    box-sizing: border-box;
    min-width: 1200px;
}